.settings {
   box-sizing: border-box;
   background: var(--backgroundColor);
   padding: 30px;
   border: var(--border);
   max-width: calc(60vw - 20px);
   margin: 20px auto;
   border-radius: 10px;
   min-height: 600px;
   width: 100%;
   max-width: 1000px;

   &__form {
      form {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .date::-webkit-calendar-picker-indicator {
            display: none;
         }

         .form__buttons {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
         }
      }
   }
}

@media (max-width: 500px) {
   .settings {
      padding: 10px;
   }
}
