.posts_loading_grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   gap: 20px;
   justify-content: center;
}
@media (max-width: 500px) {
   .posts_loading_grid {
      display: flex;
      flex-direction: column;
   }
}
