.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   padding-block: 25px;
   border-top: var(--border);
   background: var(--footerBg);
   font-size: 2rem;
}
